---
import { ClientRouter } from "astro:transitions";
import "bulma/css/bulma.min.css";
import { ThemeToggle } from "astro-bulma";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <header class="is-flex is-justify-content-flex-end p-3">
      <ThemeToggle />
    </header>
    <slot />
  </body>
</html>
